<html lang="en" class="no-touch">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign in page</title>
    <!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
    <!--    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
            crossorigin="anonymous">-->
</head>
<body>
<div>
    <form th:method="POST" th:action="@{/dogs/add_dogs}" th:object="${dog}">
        <h2>Введите данные собаки</h2>
        <p>
            <label for="name">Кличка</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Кличка"/>
        </p>
        <p>
            <label for="breed">Порода</label>
            <input type="text" th:field="*{breed}" id="breed" placeholder="Порода"/>
        </p>
        <p>
            <label for="img">URL картинки</label>
            <input type="text" th:field="*{img}" id="img" placeholder="Вставьте URL картинки"/>
        </p>
        <button type="submit">Create</button>
        <!--Предыдущая страница всегда будет совпадать с нужной страницей собак(если не вбивать вручную в адр строку)-->
        <a href="javascript:history.back()">Вернуться на страницу всех собак</a>

    </form>
</div>
</body>
</html>