<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Все собаки в приюте</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th> Уникальный номер </th>
            <th> Кличка </th>
            <th> Порода </th>
            <th> Фото </th>
        </tr>
        </thead>
        <tbody>
        <!--
        <tr th:if="${dogs.empty}">
            <td colspan="4"> Собак не найдено </td>
        </tr>
        -->
        <tr th:each="dog : ${dogs}">
            <td>
                <span th:text="${dog.id}" style="margin-left: auto; margin-right: auto">Id</span>
                <div sec:authorize="hasAuthority('ADMIN')">

                    <br>
                    <a th:href="@{/dogs/admin/} + ${dog.id}"><span>Удалить сведения о собаке</span></a>
                </div>
                <div sec:authorize="hasAuthority('CUSTOMER')">
                    <a th:href="@{/dogs/get/} + ${dog.id}"><span> Взять собаку к себе домой </span></a>
                </div>
            </td>
            <td><span th:text="${dog.name}"> Кличка </span></td>
            <td><span th:text="${dog.breed}"> Порода </span></td>
            <td><img class="dogs_img" th:src="${dog.img}"></img></td>
        </tr>
        </tbody>
    </table>
    <a href="/">Вернуться на главную страницу</a>
</body>
<style>
    .dogs_img{
        width:6vw;
        height:6vw;
    }
</style>
</html>