<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удаление сведений о собаке</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Кличка </th>
        <th> Порода </th>
        <th> Фото </th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="dog : ${dogs}">
            <td><span th:text="${dog.name}"> Имя </span></td>
            <td><span th:text="${dog.breed}"> Порода </span></td>
            <td><img class="dogs_img" th:src="${dog.img}"></img></td>
            <form th:action="'/dogs/admin/' + ${dog.id} + '/remove'" method="post">
                <button type="submit">Удалить</button>
            </form>
        </tr>

    </tbody>
</table>
<a href="/">Вернуться на главную страницу</a>

<style>
    .dogs_img{
        width:6vw;
        height:6vw;
    }
</style>
</body>
</html>