<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Удаление сведений о собаке</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Навигация</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">На главную</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/dogs">Список собак <!--<span class="sr-only">(current)</span>--></a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a href="/logout"><button class="btn btn-outline-success my-2 my-sm-0">Выйти</button></a>
            </div>
        </div>
    </nav>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Кличка </th>
        <th> Порода </th>
        <th> Фото </th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="dog : ${dogs}">
            <td><span th:text="${dog.name}"> Имя </span></td>
            <td><span th:text="${dog.breed}"> Порода </span></td>
            <td><img class="dogs_img" th:src="${dog.img}"></img></td>
            <form th:action="'/dogs/admin/' + ${dog.id} + '/remove'" method="post">
                <button type="submit">Удалить</button>
            </form>
        </tr>

    </tbody>
</table>
<a href="/">Вернуться на главную страницу</a>

<style>
    .dogs_img{
        width:6vw;
        height:6vw;
    }
</style>
</body>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>