<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Взять собаку</title>
</head>
<body>
<body>
<table>
    <thead>
    <tr>
        <th> Кличка </th>
        <th> Порода </th>
        <th> Фото </th>
    </tr>
    </thead>
    <tbody th:each="dog : ${dogs}", th:with="dog_id=${dog.id}">
        <tr>
            <td><span th:text="${dog.name}"> Кличка </span></td>
            <td><span th:text="${dog.breed}"> Порода </span></td>
            <td><img class="dogs_img" th:src="${dog.img}"></img></td>
        </tr>


    </tbody>
</table>
<div th:each="dog : ${dogs}"}>
    <form th:action="'/dogs/get/' + ${dog.id} + '/home'" method="post">
        <button type="submit">Взять собаку к себе домой</button>
    </form>
</div>

<a href="/">Вернуться на главную страницу</a>
</body>
<style>
    .dogs_img{
        width:6vw;
        height:6vw;
    }
</style>
</html>