<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Взять собаку</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Навигация</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">На главную</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/dogs">Список собак <!--<span class="sr-only">(current)</span>--></a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a href="/logout"><button class="btn btn-outline-success my-2 my-sm-0">Выйти</button></a>
            </div>
        </div>
    </nav>
</head>
<body>
<!--
<table>
    <thead>
    <tr>
        <th> Кличка </th>
        <th> Порода </th>
        <th> Фото </th>
    </tr>
    </thead>
    <tbody th:each="dog : ${dogs}", th:with="dog_id=${dog.id}">
        <tr>
            <td><span th:text="${dog.name}"> Кличка </span></td>
            <td><span th:text="${dog.breed}"> Порода </span></td>
            <td><img class="dogs_img" th:src="${dog.img}"></img></td>
        </tr>


    </tbody>
</table>
<div th:each="dog : ${dogs}"}>
    <form th:action="'/dogs/get/' + ${dog.id} + '/home'" method="post">
        <button type="submit">Взять собаку к себе домой</button>
    </form>
</div>

<a href="/">Вернуться на главную страницу</a>
</body>
<style>
    .dogs_img{
        width:15vw;
        height:15vw;
        object-fit: contain;
    }
</style>
-->

<div class="container delete_container" >
    <div th:if="${#lists.isEmpty(dogs)}">
        <h1 class = "container alert alert-danger mt-5" role="alert"> Собака не найдена </h1>
    </div>

    <div th:if="${not #lists.isEmpty(dogs)}">
        <b class="row">
            <div class="col text-center"> Фото </div>
            <div class="col text-center"> Кличка </div>
            <div class="col text-center"> Возраст </div>
            <div class="col text-center"> Порода </div>
            <div class="col text-center"> Краткая информация о собаке </div>

        </b>
        <div th:each="dog : ${dogs}" class="row"  style="padding-top: 2vw">
            <div class="col text-center"><img id="dogimg" class="dogs_img" th:src="${dog.img}"></img></div>
            <div class="col text-center text-padding"><span id="dogname" th:text="${dog.name}"> Кличка </span></div>
            <div class="col text-center text-padding"><span id="dogage" th:text="${dog.age}"> Возраст </span></div>
            <div class="col text-center text-padding"><span id="dogbreed" th:text="${dog.breed}"> Порода </span></div>
            <div class="col text-center text-padding"><span id="dogdesc" th:text="${dog.description}"> Краткая информация о собаке </span></div><br>

        </div>
    </div>
    <div th:each="dog : ${dogs}" style="text-align: center;">
        <form th:action="'/dogs/get/' + ${dog.id} + '/home'" th:object="${order}" method="post">
            <button type="submit" id="Take_dog_button" class="btn btn-success" style="width: 100%">Взять собаку к себе домой</button>
        </form>
        <!--<form th:method="POST" th:action="@{/dogs/add_dogs}" th:object="${dog}" class="container">
            <h2>Введите данные собаки</h2>
            <div class="form-group">
                <p>
                    <label for="name">Кличка</label>
                    <input type="text" class="form-control" th:field="*{name}" id="name" aria-describedby="nameHelp" placeholder="Кличка"/>
                    <small id="nameHelp" class="form-text text-muted">Пожалуйста, указывайте имя собаки с большой буквы!</small>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="name">Возраст</label>
                    <input type="text" class="form-control" th:field="*{age}" id="age" aria-describedby="nameHelp" placeholder="Возраст"/>
                </p>
            </div>

            <div class="form-group">
                <p>
                    <label for="breed">Порода</label>
                    <input type="text" th:field="*{breed}" id="breed" class="form-control" placeholder="Порода">
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="name">Краткие сведения</label>
                    <input type="text" class="form-control" th:field="*{description}" id="description" aria-describedby="nameHelp" placeholder="Краткое описание"/>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="img">URL картинки</label>
                    <input type="text" th:field="*{img}" class="form-control" id="img" aria-describedby="urlHelp" placeholder="Вставьте URL картинки"/>
                    <small id="urlHelp" class="form-text text-muted">Скопируйте любую картинку из интернета или выложите свою на доступные сервисы и скопируйте предоставленную ссылку.</small>
                </p>
            </div>
            <button id="addDog" type="submit" class="btn btn-primary">Создать</button>
            <a href="/dogs">Вернуться на страницу всех собак</a>


        </form>-->
    </div>

</div>
<style>
    #Take_dog_button{
        margin-top: 2vw;
    }

    .dogs_img{
        width:12vw;
        height:12vw;
        object-fit: contain;
    }
    .delete_container{
        max-width: 50%;
    }
    .text-padding{
        padding-top: 3vw;
    }

    @media screen and (max-width: 700px){
        .dogs_img{
            width:8vw;
            height:8vw;
        }
        .delete_container{
            max-width: 80%;
            font-size: 0.7rem;
        }
        .text-padding{
            padding-top: 1vw;
        }
    }
</style>
</body>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
    /*let contact = document.getElementById("contact").innerHTML;
    let imgURL = document.getElementById("dogimg").innerHTML;
    let name = document.getElementById("dogname").innerHTML;
    let age = document.getElementById("doage").innerHTML;
    let breed = document.getElementById("dogbreed").innerHTML;
    let dogdesc = document.getElementById("dogdesc").innerHTML;

    document.getElementById("acceptNewContact").addEventListener('click', function (e){
        document.getElementById("contact").innerHTML = document.getElementById("inputNewContact").value;
    })

    document.getElementById("contactButton").addEventListener('click', function (e){
        contact = document.getElementById("contact").innerHTML;
        sendTelegramMessage(imgURL, contact, name, age, breed, dogdesc);
        document.getElementById("Take_dog_button").style.visibility = "visible";
    })
    function sendTelegramMessage(imgURL, contact, name, age, breed, dogdesc){
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "https://api.telegram.org/bot5886369772:AAG9o02EqUKUf7QqUlJnPw6aihh3ycz1eps/sendMessage?chat_id=363671355&text=Пользователь " + contact + " взял собаку к себе. Описание собаки: Имя: " + name + ", возраст: " + age + ", порода: " + breed + ", описание: " + dogdesc,
            "method": "POST",
            "headers": {
                "Content-Type": "application/json",
                "cache-control": "no-cache"
            }
        }

        $.ajax(settings).done(function (response) {
            console.log(response);
        });
    }*/
</script>
</html>